.toast {
    animation: enter 0.3s ease-out;
}

.toastExit {
    animation: exit 0.3s ease-out forwards;
}

@keyframes enter {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes exit {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}