@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-delius-swash {
  font-family: var(--font-delius-swash-caps);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-delius-swash-caps);
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  overflow-y: scroll; /* always show vertical scrollbar */
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-delius);
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    #ff8b7a 10%,
    white 2%,
    #ff84f3 28%,
    #310d5a 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;  /* Keeps it steady */
  background-size: 100% 100%;    /* Forces it to fill entire page */
  color: black;
}
